body {
    padding: 0;
    margin: 0;
    background: white;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* NAVIGATION */

ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #03b961;
}

li {
    float: left;
    margin: 0;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: #03964f;
}


/* -------------------------------------------- */

.dropbtn {
    background-color: #03b961;
    color: white;
    padding: 12px 12px 6px 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #eeeeee;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #d5d5d5;
    ;
}

.dropdown:hover {
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #03964f;
}


.configuracoes {
    width: 80%;
    margin: 50px auto 0 auto;
    padding: 20px;
    background-color: #fcfcfc;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.configuracoes h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.configuracoes p {
    font-size: 16px;
    margin-bottom: 10px;
}

.configuracoes label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.configuracoes input[type="checkbox"],
.configuracoes input[type="radio"] {
    margin-right: 10px;
}

.configuracoes select {
    margin-top: 10px;
    font-size: 16px;
    padding: 5px;
}

.configuracoes button {
    background-color: #ffffff;
    color: black;
    padding: 10px 20px;
    border-style: outset;
    border-color: black;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.configuracoes button:hover {
    background-color: #cacaca;
}

